REDMINE_DATABASE_HOST={{ redmine_db_host }}
REDMINE_DATABASE_PORT_NUMBER={{ redmine_db_port }}
REDMINE_DATABASE_NAME={{ redmine_db_name }}
REDMINE_DATABASE_USER={{ redmine_db_user }}
REDMINE_DATABASE_PASSWORD={{ redmine_db_password }}